<?xml version="1.0"?>
<!--
  b2arx_description: Unitree B2 quadruped + ARX R5a arm visual URDF.
  Productized for XGC2 (layout aligned with fs150_description / mecanum_description).
  Source assets from Thor lerobot/opendoor assets/b2arx; mesh paths use package://.
-->
<robot name="b2arx">

  <link name="b2_description">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://b2arx_description/meshes/base_link.dae" />
      </geometry>
      <material name="磨砂铝合金_011-effect">
        <color rgba="0.74510196 0.74510196 0.74510196 1.00000000"/>
      </material>
      <material name="logo_001-effect">
        <color rgba="1.00000000 1.00000000 1.00000000 1.00000000"/>
      </material>
      <material name="材质_023-effect">
        <color rgba="0.00000392 0.00000392 0.00000392 1.00000000"/>
      </material>
      <material name="材质_024-effect">
        <color rgba="0.00000392 0.00000392 0.00000392 1.00000000"/>
      </material>
    </visual>
  </link>

  <link name="b2_description_f_dc_link">
  </link>

  <link name="b2_description_r_dc_link">
  </link>

  <link name="b2_description_imu_link">
  </link>

  <link name="b2_description_head_Link">
  </link>

  <link name="b2_description_tail_link">
  </link>

  <link name="b2_description_FL_hip">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://b2arx_description/meshes/FL_hip.dae" />
      </geometry>
      <material name="b2_description_FL_hip_mat">
        <color rgba="0.84706275 0.84706275 0.84706275 1.00000000"/>
      </material>
    </visual>
  </link>

  <link name="b2_description_FL_hip_rotor">
  </link>

  <link name="b2_description_FL_thigh">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://b2arx_description/meshes/FL_thigh.dae" />
      </geometry>
      <material name="磨砂铝合金_008-effect">
        <color rgba="0.84706275 0.84706275 0.84706275 1.00000000"/>
      </material>
      <material name="灰色硅胶_009-effect">
        <color rgba="0.64706275 0.67843529 0.64706275 1.00000000"/>
      </material>
    </visual>
  </link>

  <link name="b2_description_FL_thigh_rotor">
  </link>

  <link name="b2_description_FL_calf">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://b2arx_description/meshes/FL_calf.dae" />
      </geometry>
      <material name="磨砂铝合金_018-effect">
        <color rgba="0.74510196 0.74510196 0.74510196 1.00000000"/>
      </material>
      <material name="材质_005-effect">
        <color rgba="0.07059216 0.07059216 0.07059216 1.00000000"/>
      </material>
    </visual>
  </link>

  <link name="b2_description_FL_calf_rotor">
  </link>

  <link name="b2_description_FL_foot">
  </link>

  <link name="b2_description_FR_hip">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://b2arx_description/meshes/FR_hip.dae" />
      </geometry>
      <material name="b2_description_FR_hip_mat">
        <color rgba="0.84706275 0.84706275 0.84706275 1.00000000"/>
      </material>
    </visual>
  </link>

  <link name="b2_description_FR_hip_rotor">
  </link>

  <link name="b2_description_FR_thigh">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://b2arx_description/meshes/FR_thigh.dae" />
      </geometry>
      <material name="磨砂铝合金_008-effect">
        <color rgba="0.84706275 0.84706275 0.84706275 1.00000000"/>
      </material>
      <material name="灰色硅胶_009-effect">
        <color rgba="0.64706275 0.67843529 0.64706275 1.00000000"/>
      </material>
    </visual>
  </link>

  <link name="b2_description_FR_thigh_rotor">
  </link>

  <link name="b2_description_FR_calf">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://b2arx_description/meshes/FR_calf.dae" />
      </geometry>
      <material name="磨砂铝合金_018-effect">
        <color rgba="0.74510196 0.74510196 0.74510196 1.00000000"/>
      </material>
      <material name="材质_005-effect">
        <color rgba="0.07059216 0.07059216 0.07059216 1.00000000"/>
      </material>
    </visual>
  </link>

  <link name="b2_description_FR_calf_rotor">
  </link>

  <link name="b2_description_FR_foot">
  </link>

  <link name="b2_description_RL_hip">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://b2arx_description/meshes/RL_hip.dae" />
      </geometry>
      <material name="b2_description_RL_hip_mat">
        <color rgba="0.84706275 0.84706275 0.84706275 1.00000000"/>
      </material>
    </visual>
  </link>

  <link name="b2_description_RL_hip_rotor">
  </link>

  <link name="b2_description_RL_thigh">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://b2arx_description/meshes/RL_thigh.dae" />
      </geometry>
      <material name="磨砂铝合金_008-effect">
        <color rgba="0.84706275 0.84706275 0.84706275 1.00000000"/>
      </material>
      <material name="灰色硅胶_009-effect">
        <color rgba="0.64706275 0.67843529 0.64706275 1.00000000"/>
      </material>
    </visual>
  </link>

  <link name="b2_description_RL_thigh_rotor">
  </link>

  <link name="b2_description_RL_calf">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://b2arx_description/meshes/RL_calf.dae" />
      </geometry>
      <material name="磨砂铝合金_018-effect">
        <color rgba="0.74510196 0.74510196 0.74510196 1.00000000"/>
      </material>
      <material name="材质_005-effect">
        <color rgba="0.07059216 0.07059216 0.07059216 1.00000000"/>
      </material>
    </visual>
  </link>

  <link name="b2_description_RL_calf_rotor">
  </link>

  <link name="b2_description_RL_foot">
  </link>

  <link name="b2_description_RR_hip">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://b2arx_description/meshes/RR_hip.dae" />
      </geometry>
      <material name="b2_description_RR_hip_mat">
        <color rgba="0.84706275 0.84706275 0.84706275 1.00000000"/>
      </material>
    </visual>
  </link>

  <link name="b2_description_RR_hip_rotor">
  </link>

  <link name="b2_description_RR_thigh">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://b2arx_description/meshes/RR_thigh.dae" />
      </geometry>
      <material name="磨砂铝合金_008-effect">
        <color rgba="0.84706275 0.84706275 0.84706275 1.00000000"/>
      </material>
      <material name="灰色硅胶_009-effect">
        <color rgba="0.64706275 0.67843529 0.64706275 1.00000000"/>
      </material>
    </visual>
  </link>

  <link name="b2_description_RR_thigh_rotor">
  </link>

  <link name="b2_description_RR_calf">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://b2arx_description/meshes/RR_calf.dae" />
      </geometry>
      <material name="磨砂铝合金_018-effect">
        <color rgba="0.74510196 0.74510196 0.74510196 1.00000000"/>
      </material>
      <material name="材质_005-effect">
        <color rgba="0.07059216 0.07059216 0.07059216 1.00000000"/>
      </material>
    </visual>
  </link>

  <link name="b2_description_RR_calf_rotor">
  </link>

  <link name="b2_description_RR_foot">
  </link>

  <link name="b2_description_f_oc_link">
  </link>

  <link name="b2_description_r_oc_link">
  </link>

  <link name="R5a">
    <visual>
      <origin xyz="0 0 0" rpy="-1.5708 0 0" />
      <geometry>
        <mesh filename="package://b2arx_description/meshes/base_link.STL" />
      </geometry>
      <material name="R5a_mat">
        <color rgba="0.89804314 0.91765098 0.92549412 1.00000000"/>
      </material>
    </visual>
  </link>

  <link name="R5a_link1">
    <visual>
      <origin xyz="0 0 0" rpy="-1.5708 0 0" />
      <geometry>
        <mesh filename="package://b2arx_description/meshes/link1.STL" />
      </geometry>
      <material name="R5a_link1_mat">
        <color rgba="0.56470980 0.56470980 0.56470980 1.00000000"/>
      </material>
    </visual>
  </link>

  <link name="R5a_link2">
    <visual>
      <origin xyz="0 0 0" rpy="-1.5708 0 0" />
      <geometry>
        <mesh filename="package://b2arx_description/meshes/link2.STL" />
      </geometry>
      <material name="R5a_link2_mat">
        <color rgba="0.79216078 0.81961176 0.92941569 1.00000000"/>
      </material>
    </visual>
  </link>

  <link name="R5a_link3">
    <visual>
      <origin xyz="0 0 0" rpy="-1.5708 0 0" />
      <geometry>
        <mesh filename="package://b2arx_description/meshes/link3.STL" />
      </geometry>
      <material name="R5a_link3_mat">
        <color rgba="0.89804314 0.91765098 0.92549412 1.00000000"/>
      </material>
    </visual>
  </link>

  <link name="R5a_link4">
    <visual>
      <origin xyz="0 0 0" rpy="-1.5708 0 0" />
      <geometry>
        <mesh filename="package://b2arx_description/meshes/link4.STL" />
      </geometry>
      <material name="R5a_link4_mat">
        <color rgba="0.79216078 0.81961176 0.92941569 1.00000000"/>
      </material>
    </visual>
  </link>

  <link name="R5a_link5">
    <visual>
      <origin xyz="0 0 0" rpy="-1.5708 0 0" />
      <geometry>
        <mesh filename="package://b2arx_description/meshes/link5.STL" />
      </geometry>
      <material name="R5a_link5_mat">
        <color rgba="0.69804314 0.69804314 0.69804314 1.00000000"/>
      </material>
    </visual>
  </link>

  <link name="R5a_link6">
    <visual>
      <origin xyz="0 0 0" rpy="-1.5708 0 0" />
      <geometry>
        <mesh filename="package://b2arx_description/meshes/link6.STL" />
      </geometry>
      <material name="R5a_link6_mat">
        <color rgba="0.89804314 0.91765098 0.92549412 1.00000000"/>
      </material>
    </visual>
  </link>

  <link name="R5a_link7">
    <visual>
      <origin xyz="0 0 0" rpy="-1.5708 0 0" />
      <geometry>
        <mesh filename="package://b2arx_description/meshes/link7.STL" />
      </geometry>
      <material name="R5a_link7_mat">
        <color rgba="1.00000000 1.00000000 1.00000000 1.00000000"/>
      </material>
    </visual>
  </link>

  <link name="R5a_link8">
    <visual>
      <origin xyz="0 0 0" rpy="-1.5708 0 0" />
      <geometry>
        <mesh filename="package://b2arx_description/meshes/link8.STL" />
      </geometry>
      <material name="R5a_link8_mat">
        <color rgba="1.00000000 1.00000000 1.00000000 1.00000000"/>
      </material>
    </visual>
  </link>

  <joint name="b2_description_joint_f_dc" type="fixed">
    <parent link="b2_description" />
    <child link="b2_description_f_dc_link" />
    <origin xyz="0.41251 0.024997 0.04765" rpy="-2.3562 0 -1.5708" />
  </joint>

  <joint name="b2_description_joint_r_dc" type="fixed">
    <parent link="b2_description" />
    <child link="b2_description_r_dc_link" />
    <origin xyz="-0.4081 -0.025 0.024861" rpy="-2.3557 0 1.5708" />
  </joint>

  <joint name="b2_description_joint_imu" type="fixed">
    <parent link="b2_description" />
    <child link="b2_description_imu_link" />
    <origin xyz="0 -0.02341 0.04927" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_joint_head" type="fixed">
    <parent link="b2_description" />
    <child link="b2_description_head_Link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_joint_tail" type="fixed">
    <parent link="b2_description" />
    <child link="b2_description_tail_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_FL_hip_joint" type="revolute">
    <parent link="b2_description" />
    <child link="b2_description_FL_hip" />
    <origin xyz="0.3285 0.072 0" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.87" upper="0.87" effort="200" velocity="23" />
  </joint>

  <joint name="b2_description_FL_hip_rotor_joint" type="fixed">
    <parent link="b2_description" />
    <child link="b2_description_FL_hip_rotor" />
    <origin xyz="0.20205 0.072 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_FL_thigh_joint" type="revolute">
    <parent link="b2_description_FL_hip" />
    <child link="b2_description_FL_thigh" />
    <origin xyz="0 0.11973 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.94" upper="4.69" effort="200" velocity="23" />
  </joint>

  <joint name="b2_description_FL_thigh_rotor_joint" type="fixed">
    <parent link="b2_description_FL_hip" />
    <child link="b2_description_FL_thigh_rotor" />
    <origin xyz="0 -0.00798 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_FL_calf_joint" type="revolute">
    <parent link="b2_description_FL_thigh" />
    <child link="b2_description_FL_calf" />
    <origin xyz="0 -0.000087 -0.35" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-2.82" upper="-0.43" effort="320" velocity="14" />
  </joint>

  <joint name="b2_description_FL_calf_rotor_joint" type="fixed">
    <parent link="b2_description_FL_thigh" />
    <child link="b2_description_FL_calf_rotor" />
    <origin xyz="0 -0.05788 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_FL_foot_joint" type="fixed">
    <parent link="b2_description_FL_calf" />
    <child link="b2_description_FL_foot" />
    <origin xyz="0 0 -0.35" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_FR_hip_joint" type="revolute">
    <parent link="b2_description" />
    <child link="b2_description_FR_hip" />
    <origin xyz="0.3285 -0.072 0" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.87" upper="0.87" effort="200" velocity="23" />
  </joint>

  <joint name="b2_description_FR_hip_rotor_joint" type="fixed">
    <parent link="b2_description" />
    <child link="b2_description_FR_hip_rotor" />
    <origin xyz="0.20205 -0.072 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_FR_thigh_joint" type="revolute">
    <parent link="b2_description_FR_hip" />
    <child link="b2_description_FR_thigh" />
    <origin xyz="0 -0.11973 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.94" upper="4.69" effort="200" velocity="23" />
  </joint>

  <joint name="b2_description_FR_thigh_rotor_joint" type="fixed">
    <parent link="b2_description_FR_hip" />
    <child link="b2_description_FR_thigh_rotor" />
    <origin xyz="0 0.00798 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_FR_calf_joint" type="revolute">
    <parent link="b2_description_FR_thigh" />
    <child link="b2_description_FR_calf" />
    <origin xyz="0 0.000087 -0.35" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-2.82" upper="-0.43" effort="320" velocity="14" />
  </joint>

  <joint name="b2_description_FR_calf_rotor_joint" type="fixed">
    <parent link="b2_description_FR_thigh" />
    <child link="b2_description_FR_calf_rotor" />
    <origin xyz="0 0.05788 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_FR_foot_joint" type="fixed">
    <parent link="b2_description_FR_calf" />
    <child link="b2_description_FR_foot" />
    <origin xyz="0 0 -0.35" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_RL_hip_joint" type="revolute">
    <parent link="b2_description" />
    <child link="b2_description_RL_hip" />
    <origin xyz="-0.3285 0.072 0" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.87" upper="0.87" effort="200" velocity="23" />
  </joint>

  <joint name="b2_description_RL_hip_rotor_joint" type="fixed">
    <parent link="b2_description" />
    <child link="b2_description_RL_hip_rotor" />
    <origin xyz="-0.20205 0.072 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_RL_thigh_joint" type="revolute">
    <parent link="b2_description_RL_hip" />
    <child link="b2_description_RL_thigh" />
    <origin xyz="0 0.11973 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.94" upper="4.69" effort="200" velocity="23" />
  </joint>

  <joint name="b2_description_RL_thigh_rotor_joint" type="fixed">
    <parent link="b2_description_RL_hip" />
    <child link="b2_description_RL_thigh_rotor" />
    <origin xyz="0 -0.00798 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_RL_calf_joint" type="revolute">
    <parent link="b2_description_RL_thigh" />
    <child link="b2_description_RL_calf" />
    <origin xyz="0 -0.000087 -0.35" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-2.82" upper="-0.43" effort="320" velocity="14" />
  </joint>

  <joint name="b2_description_RL_calf_rotor_joint" type="fixed">
    <parent link="b2_description_RL_thigh" />
    <child link="b2_description_RL_calf_rotor" />
    <origin xyz="0 -0.05788 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_RL_foot_joint" type="fixed">
    <parent link="b2_description_RL_calf" />
    <child link="b2_description_RL_foot" />
    <origin xyz="0 0 -0.35" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_RR_hip_joint" type="revolute">
    <parent link="b2_description" />
    <child link="b2_description_RR_hip" />
    <origin xyz="-0.3285 -0.072 0" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.87" upper="0.87" effort="200" velocity="23" />
  </joint>

  <joint name="b2_description_RR_hip_rotor_joint" type="fixed">
    <parent link="b2_description" />
    <child link="b2_description_RR_hip_rotor" />
    <origin xyz="-0.20205 -0.072 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_RR_thigh_joint" type="revolute">
    <parent link="b2_description_RR_hip" />
    <child link="b2_description_RR_thigh" />
    <origin xyz="0 -0.11973 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.94" upper="4.69" effort="200" velocity="23" />
  </joint>

  <joint name="b2_description_RR_thigh_rotor_joint" type="fixed">
    <parent link="b2_description_RR_hip" />
    <child link="b2_description_RR_thigh_rotor" />
    <origin xyz="0 0.00798 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_RR_calf_joint" type="revolute">
    <parent link="b2_description_RR_thigh" />
    <child link="b2_description_RR_calf" />
    <origin xyz="0 0.000087 -0.35" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-2.82" upper="-0.43" effort="320" velocity="14" />
  </joint>

  <joint name="b2_description_RR_calf_rotor_joint" type="fixed">
    <parent link="b2_description_RR_thigh" />
    <child link="b2_description_RR_calf_rotor" />
    <origin xyz="0 0.05788 0" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_RR_foot_joint" type="fixed">
    <parent link="b2_description_RR_calf" />
    <child link="b2_description_RR_foot" />
    <origin xyz="0 -0.000087 -0.35" rpy="0 0 0" />
  </joint>

  <joint name="b2_description_joint_f_oc" type="fixed">
    <parent link="b2_description" />
    <child link="b2_description_f_oc_link" />
    <origin xyz="0.39079 0 -0.013433" rpy="-1.5708 0 -1.5708" />
  </joint>

  <joint name="b2_description_joint_r_oc" type="fixed">
    <parent link="b2_description" />
    <child link="b2_description_r_oc_link" />
    <origin xyz="-0.38451 0 -0.023249" rpy="-1.5708 0 1.5708" />
  </joint>

  <joint name="R5a_joint1" type="revolute">
    <parent link="R5a" />
    <child link="R5a_link1" />
    <origin xyz="0 0 0.0565" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="2.6" effort="100" velocity="1000" />
  </joint>

  <joint name="R5a_joint2" type="revolute">
    <parent link="R5a_link1" />
    <child link="R5a_link2" />
    <origin xyz="0.02 0 0.047" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="0.0" upper="3.0" effort="100" velocity="1000" />
  </joint>

  <joint name="R5a_joint3" type="revolute">
    <parent link="R5a_link2" />
    <child link="R5a_link3" />
    <origin xyz="-0.264 0 0" rpy="-3.1416 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="0.0" upper="3.24" effort="100" velocity="1000" />
  </joint>

  <joint name="R5a_joint4" type="revolute">
    <parent link="R5a_link3" />
    <child link="R5a_link4" />
    <origin xyz="0.245 -0.00005 -0.06" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-1.70" upper="1.61" effort="100" velocity="1000" />
  </joint>

  <joint name="R5a_joint5" type="revolute">
    <parent link="R5a_link4" />
    <child link="R5a_link5" />
    <origin xyz="0.073914 0.00005 -0.083391" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-1.60" upper="1.58" effort="100" velocity="1000" />
  </joint>

  <joint name="R5a_joint6" type="revolute">
    <parent link="R5a_link5" />
    <child link="R5a_link6" />
    <origin xyz="0.025286 0 0.083391" rpy="3.1416 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-2.10" upper="2.11" effort="100" velocity="1000" />
  </joint>

  <joint name="R5a_joint7" type="prismatic">
    <parent link="R5a_link6" />
    <child link="R5a_link7" />
    <origin xyz="0.08657 0.024896 -0.0002436" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="0.044" effort="100" velocity="1000" />
  </joint>

  <joint name="R5a_joint8" type="prismatic">
    <parent link="R5a_link6" />
    <child link="R5a_link8" />
    <origin xyz="0.08657 -0.0249 -0.0002437" rpy="0 0 0" />
    <axis xyz="0 -1 0" />
    <limit lower="0" upper="0.044" effort="100" velocity="1000" />
  </joint>

  <joint name="r5_to_b2" type="fixed">
    <parent link="b2_description" />
    <child link="R5a" />
    <origin xyz="0.22 0 0.1" rpy="0 0 0" />
  </joint>

</robot>
